appdirs==1.4.4
attrs==23.2.0
black==24.1a1
Click==8.1.7
entrypoints==0.4
flake8==7.0.0
funcparserlib==1.0.1
mccabe==0.7.0
numpy==1.26.4
pandas==2.2.2
pathspec==0.12.1
pycodestyle==2.11.1
pyflakes==3.2.0
pyparsing==3.1.2
python-dateutil==2.9.0
pytz==2024.1
regex==2024.4.16
rope==1.13.0
simplejson==3.19.2
six==1.16.0
toml==0.10.2
typed-ast==1.5.5
